@font-face {
    font-family: nautilus_pompiliusregular;
    src: url(fonts/nautilus.eot) format("embedded-opentype"),url(fonts/nautilus.woff2) format("woff2"),url(fonts/nautilus.woff) format("woff");
    font-weight: 400;
    font-style: normal
}


body {
  background-color: #6a5c77;
  padding: 10px;
  margin: 0;
  overflow:  hidden;
      background: url("img/bg.jpg") repeat;
    background-color: darkblue;
}
#letter {
    font-family: nautilus_pompiliusregular, Arial;
    font-size: 45px;
    width: 1000px;
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background: url("img/house.jpg") no-repeat;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 16vh;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0 100px rgba(0, 255, 203, 0.66);
}

#logo {
    position: relative;
    text-align: center;
    background-color: white;
    width: 1000px;
    max-height: 250px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 0 0 100px rgba(0, 255, 203, 0.66);
}
#logo img {
    display: block;
    margin: 0 auto;
}

svg {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
svg:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    #letter {
        margin-top: 40%;
        font-size: 60px;
    }
    #logo {
        height: 140px;
    }
    #logo img {
        padding-top: 25px;
        width: 500px;
    }
    svg {
        left: 45%;
        bottom: 10%;
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-height: 1050px) {
    #logo {
        height: 150px;
    }
    #logo img {
        padding-top: 25px;
        width: 500px;
    }
    #letter {
        height: 450px;
        margin-top: 50px;

    }
}

@media only screen and (max-height: 850px) {
   #letter {
       margin-top: 0;
   }

    #logo img {
        padding-top:5px;
        width: 400px;
    }
}

@media only screen and (max-height: 800px) {
  S
    #logo img {
      padding-top:0;

      width: 400px;
    }
}
